x-common-env: &common-env
  HUMHUB_CONFIG__COMPONENTS__DB__USERNAME: ${HUMHUB_DOCKER_DB_USER}
  HUMHUB_CONFIG__COMPONENTS__DB__PASSWORD: ${HUMHUB_DOCKER_DB_PASSWORD}
  HUMHUB_FIXED_SETTINGS__BASE__CACHE_CLASS: yii\redis\Cache
  HUMHUB_CONFIG__COMPONENTS__REDIS__CLASS: yii\redis\Connection
  HUMHUB_CONFIG__COMPONENTS__REDIS__HOSTNAME: redis
  HUMHUB_CONFIG__COMPONENTS__REDIS__PORT: 6379
  HUMHUB_CONFIG__COMPONENTS__SESSION__CLASS: yii\redis\Session

services:
  humhub_mw:
    build:
      context: ./image
    image: moser-inc/humhub-mhai:${HUMHUB_DOCKER_VERSION}
#    image: humhub/humhub-dev:${HUMHUB_DOCKER_VERSION}
    depends_on:
      - db
      - redis
    ports:
      - 8404:8404
    volumes:
      - humhub_mw_data:/var/lib/humhub
    env_file:
      - ./humhub.env
    environment:
      HUMHUB_CONFIG__COMPONENTS__DB__DSN: ${HUMHUB_MW_DSN}
      HUMHUB_FIXED_SETTINGS__BASE__BASE_URL: https://${HUMHUB_MW_DOMAIN}
      HUMHUB_CONFIG__COMPONENTS__REDIS__DATABASE: 0
      <<: *common-env
    restart: always

  humhub_development:
    build:
      context: ./image
    image: moser-inc/humhub-mhai:${HUMHUB_DOCKER_VERSION}
    ports:
      - 8804:8404
    volumes:
      - ./:/host
      - ./humhub-data:/var/lib/humhub
    env_file:
      - ./humhub.env
    environment:
      HUMHUB_CONFIG__COMPONENTS__DB__DSN: ${HUMHUB_MW_DSN}
      HUMHUB_FIXED_SETTINGS__BASE__BASE_URL: https://${HUMHUB_MW_DOMAIN}
      HUMHUB_CONFIG__COMPONENTS__REDIS__DATABASE: 0
      <<: *common-env

  db:
    image: mariadb:11.7.2
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD:-mariadb}
      DB_HOST: ${DB_HOST:-db}
      DB_USER: ${DB_USER:-humhub}
      DB_PASS: ${DB_PASS:-humhub_password}
      DB_NAME: ${DB_NAME:-humhub_development}
    ports:
      - '3307:3306'
    restart: always
    volumes:
      - mariadbdata:/var/lib/mysql
      - ./:/host

#  Not running with caddy right now - planning on using NGINX with certbot as reverse proxy
#  caddy:
#    image: caddy:latest
#    ports:
#      - 80:80
#      - 443:443
##    network_mode: "host"
#    volumes:
#      - ./Caddyfile:/etc/caddy/Caddyfile
#      - ./caddy-data:/data
#    environment:
#      - caddydomain=${HUMHUB_DOCKER_DOMAIN}
#    extra_hosts:
#      - "humhub:127.0.0.1"
#    restart: always

  redis:
    image: redis:6.2-alpine
    ports:
      - 127.0.0.1:6379:6379
#    network_mode: "host"
    restart: always
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - cache:/data

volumes:
  cache:
    driver: local
  humhub_mw_data:
  mariadbdata: